body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content:center;
}
p {
        color:aqua;
        font-size: 15pt;
        background: white;   
}
h1 {
    font-size: 30pt;
    color: blue;
    font-weight: bold;
}